@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url("styles/header.css");
@import url("styles/sobre.css");
@import url("styles/metricas.css");
@import url("styles/vagas.css");

:root {
    --fonte-principal: "Inter", sans-serif;

    --branco: #fff;
    --cor-titulo: #101828;
    --cor-texto: #667085;
    --cor-primaria: #8E2424;
}

body {
    background-color: var(--branco);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

.container {
    margin-inline: 32px;
}