@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url("styles/header.css");
@import url("styles/sobre.css");
@import url("styles/metricas.css");
@import url("styles/vagas-apres.css");
@import url("styles/vagas-disp.css");
@import url("styles/colaboradores.css");
@import url("styles/rodape.css");


:root {
    --fonte-principal: "Inter", sans-serif;

    --branco: #fff;
    --cor-titulo: #101828;
    --cor-texto: #667085;
    --cor-primaria: #8E2424;
    --cor-box: #EAECF0;
    --cor-fundo: #F9FAFB;
}

body {
    background-color: var(--branco);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    margin: 0px;
}

.container {
    margin-inline: auto;
    max-width: 1200px;
}


/*
    titulo-s
    font-weight: 600;
    color: var(--cor-primaria);

    titulo-ss
    font-size: 14px;
    font-weight: 500;
    color: var(--cor-primaria);

    subtitulo-s
    font-size: 18px;
    font-weight: 500;
    color: var(--cor-titulo);

    .texto-s
    color: var(--cor-texto);

    .subtitulo-m
    font-size: 36px;
    font-weight: 600;
    color: var(--cor-titulo);

    texto-m
    font-size: 20px;
    font-weight: 400;
    color: var(--cor-texto);
    padding-inline: 10em;
*/