.sobre {
    width: 100%;
    text-align: center;
    padding-block: 6em;
}

.sobre__titulo {
    font-weight: 600;
    color: var(--cor-primaria);
}

.sobre__subtitulo {
    font-size: 48px;
    font-weight: 600;
    color: var(--cor-titulo);
}

.texto-m {
    font-size: 20px;
    font-weight: 400;
    color: var(--cor-texto);
    padding-inline: 10em;
}