.vagas{
    width: 100%;
    text-align: center;
    padding-block: 2em;
}

.subtitulo-m {
    font-size: 36px;
    font-weight: 600;
    color: var(--cor-titulo);
}

.titulo-ss {
    font-size: 14px;
    font-weight: 500;
    color: var(--cor-primaria);
}

.fundo {
    background-color: rgba(142, 36, 36, 0.05);
    padding: 4px 12px;
    width: 125px;
    margin-inline: auto;
    border-radius: 16px;
}

.titulo__vagas {
    margin-bottom: 20px;
}

.vagas__imagem {
    width: 100%;
    margin-top: 40px;
}